@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url(./Pretendard-Regular.woff);
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 700;
  src: url(./Pretendard-Bold.woff);
}

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  src: url(./Pretendard-Light.woff);
}
